@media only screen and(min-width:600px){
    #nav-bar{
        flex-direction: row;
    }
}
@media only screen and (450px<width<600px){
    .card{
        font-size:0.85rem;
    }
    .product-image{
        height:400px;
    }
}
@media only screen and (450px<=width){
    .card{
        display: flex;
        max-width: 525px;
    }
    .inner-card{
        width: 300px;
        padding: 20px;
    }
    .product-image{
        height:400px;
    }
}
@media only screen and (width>=1000px){
    #video{
        width:70%;
    }
    .product-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
:root{
    --white:hsl(0,0%,100%);
    --text:hsl(228,12%,48%);
    --pale:hsl(32,37%,92%);
    --green:hsl(158,36%,37%);
    --header-text:hsl(212,21%,14%);
}
*{
    margin:0;
}
body{
    background-color: rgb(43, 50, 181);
}
#header-img{
    width:60px;
    object-fit:contain;
}
#nav-bar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    background-color: rgb(24, 70, 154);
    padding: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color:var(--text);
    padding: 0 10px;
    font-family: comic Arial, Helvetica, sans-serif;
}
.logo-container{
    display: flex;
    align-items:center ;
}
.the-product{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: comic Arial, Helvetica, sans-serif;
}
#email-section{
    margin-top: 100px;
}
input{
    padding:8px;
    border-radius: 5px;
    border:2px solid var(--green);
}
#submit{
    background-color: var(--green);
    color: black;
    cursor: pointer;
}
section::before{
    display: block;
    content:" ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events:none;
}
section{
    margin:40px 20px;
    text-align: center;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}
.icon{
   color:var(--green) ;
   margin-left: 30px;
}
#features{
   text-align: left;
   max-width: 800px;
   margin: auto;
}
.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#video{
    width:100%;

}
.product-image{
    width:50%;
    margin: auto;
    height: 350px;
    border:1px solid var(--text);
    border-radius:10px 10px 10px 10px;
    background-repeat: no-repeat;
    object-fit: fill;
}
.product1{
    background-size:cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/pt/thumb/e/eb/Death-Stranding-poster.jpg/405px-Death-Stranding-poster.jpg);
}
.product2{
    background-image: url(https://cdn-prod.scalefast.com/public/assets/img/resized/squareenix-store-v3/74a73de4ab3932979a3a6ae77d836c71_KR_350.jpg);
}
.product3{
    background-image: url(https://upload.wikimedia.org/wikipedia/en/2/29/Prey_cover_art.jpg);
}
.card{
    background-color:rgb(84, 78, 116);
    border-radius: 10px;
    width: 90%;
    margin:auto;
    margin-bottom:10px;
}
.inner-card{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 15, 54);
    margin-bottom: 10px;
}
.flex{
    display:flex;
    align-items: center;
    margin-bottom: 1opx;
}
.main-price{
    margin-right: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--green);
}
.old-price{
    text-decoration: line-through;
    color:var(--text);
}
.author{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    color: gray;
    text-transform: uppercase;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    color:var(--header-text);
}
.add{
    background-color: var(--green);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color:var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    margin-bottom: 10px;
}